<script type="text/javascript">
  function UpdateButton(){
    if (document.getElementById("impersonate_name").value.length > 0)
      document.getElementById("revert_button").value = "Impersonate";
    else
      document.getElementById("revert_button").value = "Revert";
  }


</script>

<style>

  .main-agileits {
    padding: 5em 0 0;
  }
  .mainw3-agileinfo {
    width: 30%;
    margin: 4em auto;
    padding: 3em;
  }
  .form a {
    text-decoration: none;
    color: #fff;
    -webkit-transition: .5s ease;
    -moz-transition: .5s ease;
    -o-transition: .5s ease;
    -ms-transition: .5s ease;
    transition: .5s ease;
  }
  .form a:hover {
    color: #05e0e2;
  }
  .form {
    background: rgba(0, 0, 0, 0.36);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
  }
  label {
    position: absolute;
    -webkit-transform: translateY(6px);
    -moz-transform: translateY(14px);
    -o-transform: translateY(14px);
    -ms-transform: translateY(14px);
    transform: translateY(14px);
    left: 2px;
    color: rgba(255, 255, 255, 0.45);
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
    transition: all 0.25s;
    -webkit-backface-visibility: hidden;
    pointer-events: none;
    font-size: 1em;
  }
  label .req {
    margin: 2px;
    color: #FFC107;
  }
  label.active {
    -webkit-transform: translateY(50px);
    -moz-transform: translateY(58px);
    -o-transform: translateY(58px);
    -ms-transform: translateY(58px);
    transform: translateY(58px);
    font-size: .75em;
  }
  label.active .req {
    opacity: 0;
  }
  label.highlight {
    color: #fff;
  }
  input, textarea {
    font-size: 1em;
    display: block;
    width: 93%;
    padding:1em 1em 1em 0;
    background: none;
    background-image: none;
    border: none;
    border-bottom: 1px solid #8e8e8e;
    color: #fff;
    border-radius: 0;
    -webkit-transition: border-color .25s ease, box-shadow .25s ease;
    -moz-transition: border-color .25s ease, box-shadow .25s ease;
    transition: border-color .25s ease, box-shadow .25s ease;
  }
  input:focus, textarea:focus {
    outline: 0;
    border-color: #FFC107;
  }
  textarea {
    border: 2px solid #a0b3b0;
    resize: vertical;
  }
  .field-wrap {
    position: relative;
    margin-bottom: 40px;
  }
  .button {
    border: 0;
    outline: none;
    padding: 1.1em;
    font-size: 1em;
    font-weight: 600;
    text-transform: uppercase;
    background:#05e0e2;
    color: #fff;
    cursor: pointer;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -webkit-appearance: none;
    margin-top:2.2em;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }
  .button:hover, .button:focus {
    background: #00cacc;
    letter-spacing: 7px;
  }
  .button-block {
    display: block;
    width: 100%;
  }
  .forgot {
    text-align: left;
    font-size: 1em;
    font-weight: 300;
    letter-spacing: 1px;
  }
  /*-- //main --*/


  .login-form{
    background-color: #F2F2F2;
    padding: 1.5em;
    margin-bottom: 30px;
    width:30%;
    float: left;
    line-height: 40px;
    margin-left: 200px;
    margin-top: 100px;

  }

  .wikidata{
    width : 48%;
    float : left;
    padding: 2em;
    line-height: 30px;
    font-size: 20px;
    margin-top: 100px;
  }

    .red{
      color: red;
    }

    .btn-red{
      color: #fff;
      background-color: #c00;
    }

  @media screen and (max-width: 699px)  {
    .login-form{
      width:100% !important;
      float: left;
      line-height: 40px;
    }

    .wikidata{
      visibility: hidden;
    }

    .bg {

      background: url(/assets/lo.jpg)repeat center 0px;
      background-attachment: fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      background-size: cover;
    }
  }
</style>

<% if current_user %>
  <% if session[:super_user] %>
    <%= form_for :impersonate, url: '/impersonate/impersonate' do |f| %>
      <table>
        <tr>
          <td>User: <%= current_user.name %></td>
        </tr>

        <tr><td><%= f.text_field :name, size: 12,
          title: "Enter a user account to impersonate",
          data: { onKeyUp: "UpdateButton();" } %></td></tr>
      <tr><td><%= f.submit "Revert", id: "revert_button" %></td></tr>
      </table>
    <% end %>
  <% else %>
        <div class="container bg">
    <%= form_tag :controller => 'auth', :action => 'logout' do %>
      <table>
        <tr>
          <td>User: <%= current_user.name %></td>
        </tr>

        <tr><td><%= submit_tag "Logout", id: 'logout-button' %></td></tr>
      </table>
    <% end %>
  <% end %>
<% else %>
<div class="login-form">
  <%= form_tag :controller => 'auth', :action => 'login' do %>
      <h3 class="form-heading">Login to expertiza</h3>
      <p><label for="login_name">User Name<span class="red"> *</span></label><br/>
    <%= text_field 'login', 'name', :size => 12, :class => 'form-control' %></p>

    <p>
      <label for="login_password">Password<span class="red"> *</span></label><br/>
      <%= password_field 'login', 'password', :size => 12, :class => 'form-control' %>
    </p>
    <p>
      <%= link_to "Forgot password?", {:controller => 'password_retrieval', :action => 'forgotten'}, :class => 'pull-right', :style => 'margin-bottom: 20px' %>
    </p>
    <p>
      <% if defined?(@attempts) and @attempts[@username] %>
          <div class="g-recaptcha" data-sitekey="6LcFcRUUAAAAAP0aQmJmT0299FLzCPyVExZYlOUv"></div>
          <br><br><br><br>
      <% end %>
      <%= submit_tag "SIGN IN", :class => 'btn btn-red', :style => 'width:100%; margin-left:auto; margin-right:auto;' %>
    </p>
  <% end %>
  <p>
  <%= link_to "REQUEST ACCOUNT",{:controller => 'users',:role => "Instructor", :action => 'request_new'}, :class => 'btn btn-red', :style => 'color:white;width:100%;margin-left:auto;margin-right:auto;' %>
  </p>
  <br/>
</div>
    </div>
    <!--<div class="wikidata">-->
      <!--<img class="img img-responsive" src="/assets/lo.jpg">-->
    <!--</div>-->

    <!--<div class="mainw3-agileinfo form">-->
      <!--<div id="login">-->
        <!--<form action="#" method="post">-->
          <!--<div class="field-wrap">-->
            <!--<label> Enter Your Email<span class="req">*</span> </label>-->
            <!--<input type="email"required autocomplete="off"/>-->
          <!--</div>-->
          <!--<div class="field-wrap">-->
            <!--<label> Your Password<span class="req">*</span> </label>-->
            <!--<input type="password"required autocomplete="off"/>-->
          <!--</div>-->
          <!--<p class="forgot"><a href="#">Forgot Password?</a></p>-->
          <!--<button class="button button-block"/>Log In</button>-->
        <!--</form>-->
      <!--</div>-->

    <!--</div>-->
<% end %>