<script type="text/javascript">
  function UpdateButton(){
    if (document.getElementById("impersonate_name").value.length > 0)
      document.getElementById("revert_button").value = "Impersonate";
    else
      document.getElementById("revert_button").value = "Revert";
  }


</script>

<style>

  h1 {
    font-size: 50px;
    font-family: 'Montserrat', sans-serif;
    margin: 50px 0;
    color: #FFF;
  }

  .containerw3layouts-agileits {
    width: 50%;
    margin: 0 auto;
  }

  .w3imageaits, .aitsloginwthree {
    width: 50%;
    /*-- w3layouts --*/
    /*-- agileits --*/
    float: left;
  }

  .aitsloginwthree {
    background-color: #FFF;
  }

  h2 {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    margin: 40px 0;
  }

  input[type="text"], input[type="password"] {
    padding: 15px 0 10px 0;
    width: 90%;
    border: none;
    /*-- w3layouts --*/
    /*-- agileits --*/
    border-bottom: 2px solid #777;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #333;
    outline: none;
    margin-bottom: 20px;
  }

  ul.tick {
    list-style: none;
    display: inline-block;
    margin: 20px 0 30px;
  }

  ul.tick li {
    display: inline-block;
    padding: 0 20px;
  }

  ul.tick li input[type="checkbox"] {
    display: none;
  }

  ul.tick li input[type="checkbox"]+label {
    position: relative;
    padding-left: 25px;
    /*-- w3ls --*/
    /*-- agileits --*/
    border: #F0F8FF;
    display: inline-block;
    font-size: 15px;
    color: #000;
  }

  ul.tick li input[type="checkbox"]+label span:first-child {
    width: 17px;
    height: 17px;
    display: inline-block;
    border: none;
    position: absolute;
    top: -1px;
    left: 0;
    bottom: 4px;
    background-color: #05c2f9;
  }

  ul.tick li input[type="checkbox"]:checked+label span:first-child:before {
    content: "";
    background: url("../images/tick.png") no-repeat;
    position: absolute;
    left: 3px;
    /*-- w3layouts --*/
    /*-- agileinfo --*/
    top: 3px;
    font-size: 10px;
    width: 10px;
    height: 10px;
  }

  ul.tick a {
    color: #333;
  }

  .send-button {
    margin-bottom: 30px;
  }

  input[type="submit"] {
    padding: 10px 30px;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    border: none;
    outline: none;
    border-radius: 30px;
    /*-- wthree --*/
    /*-- agileits --*/
    background-color: #05c2f9;
    color: #FFF;
    cursor: pointer;
  }

  input[type="submit"]:hover {
    background-color: #009688;
  }

  /*-- Footer --*/

  .w3lsfooteragileits {
    margin: 100px 20px 20px;
  }

  .w3lsfooteragileits p {
    font-size: 15px;
    line-height: 25px;
    color: #EEE;
  }

  .w3lsfooteragileits p a {
    font-family: 'Montserrat', sans-serif;
    color: #FFF;
  }

  .w3lsfooteragileits p a:hover {
    color: #000;
  }
</style>

<% if current_user %>
  <% if session[:super_user] %>
    <%= form_for :impersonate, url: '/impersonate/impersonate' do |f| %>
      <table>
        <tr>
          <td>User: <%= current_user.name %></td>
        </tr>

        <tr><td><%= f.text_field :name, size: 12,
          title: "Enter a user account to impersonate",
          data: { onKeyUp: "UpdateButton();" } %></td></tr>
      <tr><td><%= f.submit "Revert", id: "revert_button" %></td></tr>
      </table>
    <% end %>
  <% else %>
        <div class="container bg">
    <%= form_tag :controller => 'auth', :action => 'logout' do %>
      <table>
        <tr>
          <td>User: <%= current_user.name %></td>
        </tr>

        <tr><td><%= submit_tag "Logout", id: 'logout-button' %></td></tr>
      </table>
    <% end %>
  <% end %>
<% else %>


    <div class="containerw3layouts-agileits">

      <div class="w3imageaits">
        <img src="images/web.jpg" alt="">
      </div>

      <div class="aitsloginwthree w3layouts agileits">
        <h2>Log In to enter the Web</h2>
        <form action="#" method="post">
          <input type="text" Name="Userame" placeholder="Username" required="">
          <input type="password" Name="Password" placeholder="Password" required="">
          <ul class="tick w3layouts agileinfo">
            <li>
              <input type="checkbox" id="brand1" value="">
              <label for="brand1"><span></span>Remember me</label>
            </li>
            <li>
              <a href="#">Forgot Password?</a>
            </li>
          </ul>
          <div class="send-button wthree agileits">
            <input type="submit" value="Sign In">
          </div>
        </form>
      </div>

      <div class="clear"></div>

    </div>
    <!--<div class="wikidata">-->
      <!--<img class="img img-responsive" src="/assets/lo.jpg">-->
    <!--</div>-->

    <!--<div class="mainw3-agileinfo form">-->
      <!--<div id="login">-->
        <!--<form action="#" method="post">-->
          <!--<div class="field-wrap">-->
            <!--<label> Enter Your Email<span class="req">*</span> </label>-->
            <!--<input type="email"required autocomplete="off"/>-->
          <!--</div>-->
          <!--<div class="field-wrap">-->
            <!--<label> Your Password<span class="req">*</span> </label>-->
            <!--<input type="password"required autocomplete="off"/>-->
          <!--</div>-->
          <!--<p class="forgot"><a href="#">Forgot Password?</a></p>-->
          <!--<button class="button button-block"/>Log In</button>-->
        <!--</form>-->
      <!--</div>-->

    <!--</div>-->
<% end %>